
<div>
  <a href="{{ site.github.releases_url }}/download/v{{ site.ver_pgsql }}/PostgreSQLPortable_{{ site.ver_pgsql }}.paf.exe" class="button">
    <img src="/images/download.svg" alt="Download"> Download {{ site.title }} v{{ site.ver_pgsql }}</a>
</div>

<div>
  <a href="{{ site.github.releases_url }}/download/v{{ site.ver_pgsql }}/PostgreSQLPortable_Perl_{{ site.ver_perl }}.paf.exe" class="button">
    <img src="/images/download.svg" alt="Download"> Download Perl Plugin v{{ site.ver_perl }}</a>
</div>

<div>
  <a href="{{ site.github.releases_url }}/" class="button">
    <img src="/images/view.svg" alt="View"> View all Releases</a>
</div>

<div style="margin-top:1.5em">
  <a href="{{ site.github.repository_url }}/" class="button">
    <img src="/images/github.svg" alt="GitHub"> View on GitHub</a>
</div>
